#CS-Cart docker registry URL
REGISTRY="localhost:5000"

#CS-Cart domain name
CSCART_ADDRESS="example.com"

#CS-Cart workdir
CSCART_HOME="./cscart"

#Nginx config dir
CSCART_NGINX_CONF="./nginx/conf.d"

#Nginx logs dir
CSCART_NGINX_LOGS="./nginx/logs"

#MySQL root password
CSCART_MYSQL_RPASS=""
#CS-Cart MySQL DB name
CSCART_MYSQL_DB="cscart"
#CS-Cart MySQL DB user
CSCART_MYSQL_USER="cscart"
#CS-Cart MySQL DB password
CSCART_MYSQL_PASS=""
#MySQL logs dir
CSCART_MYSQL_LOGS="./mysql/logs"
#MySQL data dir
CSCART_MYSQL_DATA="./mysql/data"
#MySQL config dir
CSCART_MYSQL_CONF="./mysql/conf.d"

#Email for letsencrypt registration
CERTBOT_EMAIL="mail@example.com"
#Certbot data dir
CERTBOT_DATA="./certbot"
#Certbot mode (In staging mode=1 certbot create dummy certificates)
CERTBOT_STAGING_MODE="1"
